.photographers_container {
  margin-top: 100px;
}

.photographer {
  display: flex;
  background-color: rgba(233,171,105,.4);
  border-radius: 15px;
  width: 50%;
  margin: auto;
  margin-bottom: 25px;
  padding: 25px;
}

.photographer img {
  object-fit: cover;
  height: 200px;
  width: 200px;
  font-size: 0px;
  margin-right: 25px;
}

.photographer h1 {
  font-size: 32px;
  margin: 0px;
}
