<section class="main">
  <section class="individualPhoto_jumbo_img_container">
    <img ng-src="{{individualPhotog[0].portfolioimage}}"/>
    <img ng-src="{{individualPhotog[1].portfolioimage}}"/>
    <img ng-src="{{individualPhotog[2].portfolioimage}}"/>
    <!-- <h1 class="slogan s1">Imagine.</h1>
    <h1 class="slogan s2">Create.</h1>
    <h1 class="slogan s3">Inspire.</h1> -->
  </section>
  <section class="genre_type_container">
    <section class="genre_type_box">
      <a ui-sref="genres({genreType: 'Families'})">Families</a>
      <a ui-sref="genres({genreType: 'Weddings'})">Weddings</a>
      <a ui-sref="genres({genreType: 'Vacations'})">Vacations</a>
      <a ui-sref="genres({genreType: 'Engagements'})">Engagements</a>
    </section>
  </section>
  <section class="genres_container">
    <section class="genres__photog__description">
      <img ng-src="{{individualPhotog[0].profileurl}}">
      <h1>{{individualPhotog[0].firstname}} {{individualPhotog[0].lastname}}</h1>
      <p>{{individualPhotog[0].phone}}</p>
      <p>{{individualPhotog[0].email}}</p>
      <p>{{individualPhotog[0].city}}, {{individualPhotog[0].state}}</p>
    </section>
    <section class="genre__selection_container">
      <section class="genre__selection__titles">
        <div class="genre__title" ng-click="getSessionImages(individualPhotog[0].id,individualPhotog[0].title_1)">
        <!-- <div class="genre__title"> -->
          <p>{{individualPhotog[0].title_1}}</p>
        </div>
        <div class="genre__title" ng-click="getSessionImages(individualPhotog[0].id,individualPhotog[0].title_2)">
        <!-- <div class="genre__title"> -->
          <p>{{individualPhotog[0].title_2}}</p>
        </div>
      </section>
      <section class="genre__description">
        <img ng-src="{{sessionImages[0].portfolioimage}}"
      </section>
    </section>
  </section>
</section>
