.individualPhoto_jumbo_img_container {
  font-size: 0px;
}

.individualPhoto_jumbo_img_container img {
  object-fit: cover;
  object-position: left;
  width: calc(100%/3);
  height: 300px;
  margin: 0px;
}

.genres_container {
  display: flex;
  margin: 75px auto;
  width: 60%;
  /*height: 300px;*/
  border-radius: 15px;
  background-color: rgba(233,171,105,.4);
  padding: 25px;
  color: white;
}

.genres__photog__description {
  width: calc(100%/3);
}

.genres__photog__description img {
  object-fit: cover;
  height: 150px;
  width: 150px;
}

.genre__selection_container {
  width: calc((100%/3)*2);
}

.genre__selection__titles {
  display: flex;
}

.genre__title {
  width: 50%;
  border: 1px solid white;
}

.genre__title p {
  padding: 0px 10px;
}
