.individualPhoto_jumbo_img_container {
  font-size: 0px;
}

.individualPhoto_jumbo_img_container img {
  object-fit: cover;
  object-position: left;
  width: calc(100%/3);
  height: 300px;
  margin: 0px;
}

.genres_container {
  display: flex;
  margin: 75px auto;
  width: 60%;
  /*height: 300px;*/
  border-radius: 15px;
  background-color: rgba(233,171,105,.4);
  padding: 25px;
  color: white;
}

.genres__photog__description {
  width: calc(100%/3);
}

.genres__photog__description img {
  object-fit: cover;
  height: 200px;
  width: 200px;
}

.genre__selection_container {
  width: calc((100%/3)*2);
}

.genre__selection__titles {
  display: flex;
}

.genre__title {
  width: 50%;
  border: 1px solid white;
  text-align: center;
}

.genre__title p {
  padding: 0px 10px;
}

.genre__description {
  border: 1px solid white;
  border-top: none;
  padding: 15px;
}

.genre__description h1 {
  font-size: 24px;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

.genre__description > div > img {
  object-fit: cover;
  width: 100%;
  text-align: center;
  margin: auto;
}

.test {
  text-align: center;
}

.book_session_button {
  width: 50%;
  height: 40px;
  background: white;
  color: rgba(233,171,105,.4);
  text-align: center;
  margin: 40px auto 25px auto;
}

.book_session_button p {
  padding-top: 10px;
}
