.main {
  position: relative;
}

.jumbo_img_container {
  font-size: 0px;
}

.jumbo_img_container img {
  object-fit: cover;
  object-position: left;
  width: 100%;
  height: 600px;
  margin: 0px;
}

.motto {
  position: absolute;
  top: 100px;
  left: 150px;
  color: white;
  font-family: 'Architects Daughter', cursive;
  font-size: 32px;
}

.genre_type_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: #E9AB69;
  margin: 0px;
  padding: 0px 150px;
}

.genre_type_container a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
