<section class="main">
  <section class="jumbo_img_container">
    <img src="../images/pacto-visual-157792.jpg"/>
    <h1 class="slogan s1">Imagine.</h1>
    <h1 class="slogan s2">Create.</h1>
    <h1 class="slogan s3">Inspire.</h1>
  </section>
  <section class="genre_type_container">
    <section class="genre_type_box">
      <a href="#">Families</a>
      <a href="#">Weddings</a>
      <a href="#">Vacations</a>
      <a href="#">Engagments</a>
    </section>
  </section>
  <section class="signupContainer">
    <h1>Welcome to the Photog Network!</h1>
    <form class="signup_form">
      <input type="text" placeholder="First Name" ng-model="firstName">
      <input type="text" placeholder="Last Name" ng-model="lastName">
      <input type="text" placeholder="Profile Picture URL" ng-model="profilepic">
      <input type="text" placeholder="Business Name" ng-model="business">
      <input type="text" placeholder="State" ng-model="state">
      <input type="text" placeholder="City" ng-model="city">
      <input type="text" placeholder="Email" ng-model="email">
      <input type="text" placeholder="Phone" ng-model="phone">
      <input type="text" placeholder="Username" ng-model="username">
      <input type="password" placeholder="Password" ng-model="password">
    </form>
    <div class="signup_button" ng-click="postToVender(firstName, lastName, profilepic, business, state, city, email, phone, username, password)">
      <p>Submit</p>
    </div>
  </section>
</section>
